.d2h-file-header {
  height: 38px;
}

.d2h-file-wrapper {
  border-radius: 0;
}

.d2h-diff-table {
  position: relative;
}

.rc-md-editor .editor-container .sec-md .input {
  font-size: 1rem;
}

.rc-md-editor {
  width: 50%;
}

.rc-md-navigation {
  overflow-x: scroll;
}

.sec-html {
  background-color: #faf7d2;
}

.rc-md-navigation .button-wrap,
.rc-md-navigation .navigation-nav {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.refining-editor .sec-html {
    display: none;
}